/*--/ Title Left /--*/
.title-box-2 {
    margin-bottom: 3rem;
  }
  
  .title-left {
    font-size: 2rem;
    position: relative;
  }
  .title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #f05108;
    width: 100px;
    bottom: -12px;
  }

  .button{
      background-color: darksalmon;
      border: 1px solid #f3a682;
      border-radius: 10px;
      padding: 5px;
  }